<div class="row">
    <div class="col-md-12 col-sm-12 col-lg-12 d-flex justify-content-center align-items-center">
        <video #target class="video-js vjs-big-play-centered video-container" autoplay></video>
        <div class="question-links">
            <ng-template ngFor let-question [ngForOf]="questions">
                <div class="question-link" (click)="goToVideo(question)">
                    <a class="question-text" href="javascript:void(0)">
                        {{ question.question }}
                    </a>
                    <!-- <i class="fa fa-solid fa-circle-play"></i> -->
                    <fa-icon [icon]="faPlayCircle" style="color: white;"></fa-icon>
                </div>
            </ng-template>
        </div>
    </div>
</div>