<div class="row d-flex justify-content-center align-items-center py-2" style="height: 100vh">
    <div class="col-md-5 col-sm-5 col-lg-5 h-100">
        <div class="panel-bg h-100">
            <div class="row me-0 ms-0 w-100 p-2">
                <div class="col-md-12 col-sm-12 col-lg-12">
                    <div class="row ms-0 me-0 w-100 ps-2 pt-2">
                        <div class="col-md-5 col-sm-5 col-lg-5 bg-white">
                            <img src="../../assets/images/stridebiz-logo.png" style="width: 150px; height: auto" />
                        </div>
                    </div>

                    <div class="row ms-0 me-0 w-100 mt-4 ps-2 pt-2">
                        <div
                            class="col-md-12 col-sm-12 col-lg-12 d-flex flex-column justify-content-center align-items-center">
                            <div class="image-container">
                                <a href="https://www.linkedin.com/in/sandeepgkhode/" target="_blank">
                                    <img src="../../assets/images/sandeep-sir.jpg" style="width: 100%; height: auto" />
                                </a>
                            </div>

                            <h4 class="text-white mt-3 user-text">Sandeep Khode</h4>
                            <h4 class="text-white user-text">CEO</h4>
                        </div>
                    </div>

                    <div class="row ms-0 me-0 w-100 mt-5 pt-2">
                        <div class="col-md-12 col-sm-12 col-lg-12 d-flex flex-column justify-content-center">
                            <div class="d-flex align-items-center">
                                <fa-icon class="text-white fs-4" [icon]="faPhone"></fa-icon>
                                <h4 class="text-white ms-3 mb-0 fw-normal fs-6">
                                    <a class="text-decoration-none text-white"
                                        href="tel:+911234567890">+911234567890</a>
                                </h4>
                            </div>

                            <div class="mt-3 d-flex align-items-center">
                                <fa-icon class="text-white fs-4" [icon]="faEnvelope"></fa-icon>
                                <h4 class="text-white ms-3 mb-0 fw-normal fs-6">
                                    <a class="text-decoration-none text-white"
                                        href="mailto:sgkhode@gmail.com">sgkhode@gmail.com</a>
                                </h4>
                            </div>

                            <div class="mt-3 d-flex align-items-center">
                                <fa-icon class="text-white fs-4" [icon]="faGlobe"></fa-icon>
                                <h4 class="text-white ms-3 mb-0 fw-normal fs-6">
                                    <a class="text-decoration-none text-white"
                                        href="https://www.linkedin.com/in/sandeepgkhode/"
                                        target="_blank">https://www.linkedin.com/in/sandeepgkhode/</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row me-0 ms-0 w-100 border-top border-white" style="position: relative; top: 13.5%">
                <div class="col-md-6 col-sm-6 col-lg-6 py-2 d-flex justify-content-center align-items-center">
                    <fa-icon class="text-white fs-4" [icon]="faShareSquare"></fa-icon>
                    <h4 class="text-white ms-2 user-text mb-0">Share Contact</h4>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6 py-2 d-flex justify-content-center align-items-center">
                    <fa-icon class="text-white fs-4" [icon]="faSave"></fa-icon>
                    <h4 class="text-white ms-2 user-text mb-0">Save Contact</h4>
                </div>
            </div>
        </div>
    </div>
</div>