.panel-bg {
    background-image: url("../../assets/images/overlay1.png");
    background-size: cover;
}

.image-container {
    width: 100px;
    height: auto;
    border-radius: 50%;

    img {
        border-radius: 50%;
    }
}

.user-text {
    font-family: Arial, Helvetica, sans-serif;
}

.close-btn {
    position: absolute;
    color: white;
    z-index: 10000;
    font-size: 35px;
    right: 15px;
    top: 10px;
}

.content-row-1 {
    @media screen and (min-width: 360px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.content-col-1 {
    @media screen and (min-width: 360px) {
        width: auto;
        padding: 0;
    }
}

.contact-row {
    position: relative;
    top: 6.5%;
    // @media only screen and (min-width: 480px) {
    //     top: 23.5%;
    // }
    @media only screen and (min-width: 768px) {
        top: 20.5% !important;
    }

    @media only screen and (max-width: 360px) {
        top: 19.5% !important;
    }

    @media only screen and (min-width: 411px) {
        top: 12.5% !important;
    }

    @media only screen and (min-width: 1024px) {
        top: 19.5% !important;
    }
}

.small-text {
    @media only screen and (min-width: 768px) {
        font-size: 1.2rem !important;
    }
    @media screen and (min-width: 400px) {
        font-size: 0.9rem !important;
    }

    @media screen and (max-width: 360px) {
        font-size: 0.8rem !important;
    }
}

.company-logo {
    width: 150px;
    height: auto;

    @media screen and (max-width: 360px) {
        width: 100px;
    }
}

.intro-video {
    width: 150px;
    height: 100px;

    @media screen and (max-width: 360px) {
        width: 120px;
        height: 80px;
    }
}

.footer-text {
    @media only screen and (min-width: 768px) {
        font-size: 1.2rem !important;
    }
    @media screen and (min-width: 400px) {
        font-size: 0.9rem !important;
    }

    @media screen and (max-width: 360px) {
        font-size: 0.8rem !important;
    }
}
